body{
    text-align: center;
    padding: 0;
    margin: 0;
}

#site-titre{
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

#site-titre h1{
    font-size: 8rem;
    margin-bottom: 0;
}

#top-bg{
    width: 100%;
}

#container-standard{
    background-color: #e3e2de;
    border-radius: 25px;
    padding: 3.5rem 1.5rem;
    position: relative;
    width: 90%;
    top: -3rem;
    margin: 0 auto;
}

#container-projets{
    background-color: #e3e2de;
    border-radius: 25px;
    padding: 3.5rem 1.5rem;
    position: relative;
    width: 90%;
    top: -3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.boite-projet{
    background-color: white;
    margin: 0.5rem;
    text-align: center;
    width: 25%;
    box-shadow: 0px 5px 3px -1px rgba(0,0,0,0.1);
}

.titre-projet{
    color: white;
    background-color: #50ad93;
    padding: 0.5rem;
    text-align: center;
}

.specs-projet{
    font-style: italic;
    margin: 2.2rem;
    height: 4rem;
}

.explorer-projet{
    display:inline-block;
    text-transform: uppercase;
    background-color: #50ad93;
    padding: 0.75rem;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.explorer-projet a{
    text-decoration: none;
    color: white;
}
